body {
    --primary100: #3f51b5;
    --primary200: #6572ba;
    --primary300: #7d85b3;
    --alphaPrimary: #dfe1ee;

    --textOnPrimary: #e3e7ff;
    --text100: #333333;
    --text200: #818181;
    --alphaText: #33333381;
    --placeholderText: #97979786;

    --background100: #ffffff;
    --background200: #f0f0f0;

    --gradient100: #F5F5FF;

    --shadow100: #00000085;

    --danger100: #ff5a5a;

    --accent100: #fff;
}

body.dark {
    --primary100: #0f1c2e;
    --primary200: #1f3a5f;
    --primary300: #acc2ef;
    --text100: #ffffff;
    --text200: #e0e0e0;
    --background100: #1F2B3E;
    --background200: #8797b8;
    --background300: #374357;
    --gradient100: #223754;
    --shadow100: #fcfdff;
    --accent100: var(--primary300);
    --accent200: var(--background200);
}

/* ============================================================================================ */

body.juice {
    --primary100: #ffa07a;
    --primary200: #de835f;
    --primary300: #f8ece6;
    --text100: #333333;
    --text200: #5c5c5c;
    --background100: #f5e6cc;
    --background200: #ebdcc2;
    --background300: #c2b49b;
    --gradient100: #fff7ea;
    --shadow100: #6656397a;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

body.juice.dark {
    --primary100: #ff5733;
    --primary200: #ff8a5f;
    --primary300: #fff3bf;
    --text100: #ffffff;
    --text200: #c0c0c0;
    --background100: #1c1c1c;
    --background200: #2b2b2b;
    --background300: #434343;
    --gradient100: #2e1611;
    --shadow100: #ffffff5e;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

/* ============================================================================================ */

body.sand {
    --primary100: #bfae9f;
    --primary200: #937962;
    --primary300: #ffffff;
    --text100: #4d4d4d;
    --text200: #9e9e9e;
    --background100: #f5efe8;
    --background200: #eee3d7;
    --background300: #ffffff;
    --gradient100: #f5e9dc;
    --shadow100: #6656397a;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

body.sand.dark {
    --primary100: #e6b8a2;
    --primary200: #c79b86;
    --primary300: #825b48;
    --text100: #ffffff;
    --text200: #e0e0e0;
    --background100: #3c2f2f;
    --background200: #4d3f3f;
    --background300: #675858;
    --gradient100: #2c2121;
    --shadow100: #ffffff5e;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

/* ============================================================================================ */

body.lavender {
    --primary100: #8b5fbf;
    --primary200: #61398f;
    --primary300: #ffffff;
    --text100: #4a4a4a;
    --text200: #878787;
    --background100: #f5f3f7;
    --background200: #e9e4ed;
    --background300: #ffffff;
    --gradient100: #f0eaf5;
    --shadow100: #84709494;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

body.lavender.dark {
    --primary100: #7b4f8e;
    --primary200: #563763;
    --primary300: #d7c5df;
    --text100: #ffffff;
    --text200: #909090;
    --background100: #3b2d4d;
    --background200: #382b49;
    --background300: #4d3b64;
    --gradient100: #2d203d;
    --shadow100: #f8efff94;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

/* ============================================================================================ */

body.jungle {
    --primary100: #658864;
    --primary200: #b7b78a;
    --primary300: #fdf6fd;
    --text100: #292524;
    --text200: #78716c;
    --background100: #dddddd;
    --background200: #eeeeee;
    --background300: #d1d1d1;
    --gradient100: #ccd4cc;
    --shadow100: #96a796;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

body.jungle.dark {
    --primary100: #8f9779;
    --primary200: #656b53;
    --primary300: #ffffff;
    --text100: #ffffff;
    --text200: #b2b2b2;
    --background100: #353728;
    --background200: #454738;
    --background300: #5f6150;
    --gradient100: #1c1e12;
    --shadow100: #f7ffe09e;
    --accent100: var(--primary100);
    --accent200: var(--primary300);
}

/* ============================================================================================ */

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--background100);
    color: var(--text100);
}