<link rel="stylesheet" href="/css/main/project/emptyProject.css" />
<div class="empty">
    <i class="fi fi-rr-document-circle-wrong"></i>
    <p>Ooops! It's Empty</p>
    <p>Start create resources by clicking on 'Add new project'</p>
    <a href="/dashboard/project/add">Add new project</a>
</div>