.empty {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty i {
    margin-bottom: 40px;
    color: var(--primary300);
    font-size: clamp(10em, 15vw, 15em);
    opacity: 0.4;
}

.empty p {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 5px;
    text-align: center;
}

.empty p:nth-child(3) {
    font-size: 1.2em;
}


.empty a {
    text-decoration: none;
    color: var(--textOnPrimary);
    background-color: var(--primary100);
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.empty a:hover {
    transform: scale(1.05);
    background-color: var(--primary300);
}