.accountInput input[type="text"] {
    width: 100%;
    height: 2.9em;
    padding: 0.4em 1em;
    background-color: var(--background200);
    border: 2px solid transparent;
    border-radius: 0.5em;
    font-size: 1.2em;
    color: var(--text100);
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    font-weight: bold;
    color: var(--textPrimaryOnBackground);
    box-shadow: inset -1px 4px 19px -14px var(--shadow100);
}

.accountInput input[type="text"]:focus-visible {
    border-color: var(--textPrimaryOnBackground);
}

@media (max-width: 768px) {
  .accountInput input[type="text"] {
    font-size: 1em;
  }

  .deleteUser.btn {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .deleteUser.btn a {
    width: 100%;
    text-align: center;
  }
}
