.listParent {
    height: 100%;
    position: relative;
    display: flex;
}

.listContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.list {
    position: relative;
    max-height: calc(100% - 2.4em);
    top: 2.4em;
    overflow-y: auto;
    box-sizing: border-box;
    
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
    display: none;
}

.linked {
    height: 2.2em;
    display: flex;
    padding: 0.3em 0.6em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    transition: color 0.3s, background-color 0.3s;
    position: relative
}

 .categories {
    width: 100%;
    background-color: var(--background200);
    border-radius: 0.5em 0.5em 0 0;
}

.categories.linked::after {
    content: "";
    position: absolute;
    height: 1em;
    width: 100%;
    bottom: -1em;
    left: 0;
    box-shadow: inset 0px 13px 18px -20px var(--textPrimaryOnBackground);
    z-index: 50;
}

.scrollBar {
    position: absolute;
    right: 4px;
    width: 6px;
    background-color: var(--primary300);
    border-radius: 3px;
    cursor: pointer;
    top: 2.4em;
    opacity: 0;
    transition: background-color 0.2s, opacity 0.3s, height 0.2s;
    z-index: 1000;
}

.scrollBar:hover, .scrollBar.active {
    background-color: var(--textPrimaryOnBackground,);
}