<link rel="stylesheet" href="/css/main/settings/account.css" />
<h3>Account</h3>
<h4>Set your account details</h4>
<hr>
<div class="accountInput input">
    <div class="inputContainer">
        <p>Username</p>
        <input type="text" name="userName" id="userName">
    </div>
    <div class="inputContainer">
        <p>E-mail <span>Linked something</span></p>
        <input type="text" name="mail" id="mail">
        
    </div>
</div>
<hr>
<div class="deleteUser btn">
   <div class="notice">
        <h3>Delete account</h3>
        <h4>If you delete your account, there is no going back.</h4>
   </div>
   <a href="#">Delete your account</a>
</div>