<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/shared/default.css"> 
    <link rel="stylesheet" href="/css/menu/style.css"> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="/js/menu/menu.js" defer></script>
  </head>
  <body class="">
    <header>
      <div class="headerContent">
        <a href="#"><div class="logo">Logo</div></a>
        <nav class="nav-center">
          <a href="#first" class="active">Home</a>
          <a href="#second">Service</a>
          <a href="#third">Tech</a>
          <a href="#fourth">Team</a>
        </nav>
        <div class="nav-right">
          <a href="/auth/signin" class="btn-signin">Sign in</a>
          <a href="/auth/signup" class="btn-signup">Sign up</a>
        </div>
      </div>
      <hr>
    </header>

    <section class="first" id="first">
      <h1>Lorem Ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus blanditiis in cum tempore nisi similique nostrum at maxime<br>
         dolor fugit sunt, eos corrupti, ratione modi quisquam voluptates unde debitis. At.
      </p>

      <a href="/auth/signin" class="getStartBtn">Get Started</a>

      <div class="thumb"></div>
    </section>

    <section id="second">
      <div class="section-icon"><i class="fas fa-robot"></i></div>
      <h2 class="section-title">Lorem Ipsum</h2>
      <p class="section-desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s.
      </p>

      <div class="split-section">
        <div class="split-text">
          <div class="card-icon"><i class="fas fa-layer-group"></i></div>
          <h3>Lorem Ipsum</h3>
          <p class="section-desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
          <!-- <a href="#" class="learnMoreBtn">Learn more</a> -->
        </div>
        <div class="split-img"></div>
      </div>
    </section>

    <section>
      <div class="section-icon"><i class="fas fa-search"></i></div>
      <h2 class="section-title">Lorem Ipsum</h2>
      <p class="section-desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>

      <div class="card-grid">
        <div class="info-card">
          <div class="card-text">
            <div class="card-icon"></div>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nobis iusto repellat temporibus. Impedit quidem tempora velit, reprehenderit rem facere dolor natus eos ipsum eius, quasi dolores quibusdam pariatur. Neque.
          </div>
          <div class="card-box"></div>
        </div>
        <div class="info-card">
          <div class="card-text">
            <div class="card-icon"></div>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nobis iusto repellat temporibus. Impedit quidem tempora velit, reprehenderit rem facere dolor natus eos ipsum eius, quasi dolores quibusdam pariatur. Neque.
          </div>
          <div class="card-box"></div>
        </div>
        <div class="info-card">
          <div class="card-text">
            <div class="card-icon"></div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nobis iusto repellat temporibus. Impedit quidem tempora velit, reprehenderit rem facere dolor natus eos ipsum eius, quasi dolores quibusdam pariatur. Neque.
          </div>
          
          <div class="card-box"></div>
        </div>
      </div>
    </section>

    <section id="third">
      <div class="third">
        
        <h2 class="section-title"><div class="card-icon"></div>How it works</h2>

        <div class="process-list">
          <div class="process-item">
            <div class="process-box"></div>
            <div class="process-text">1. test</div>
          </div>
          <div class="arrow-down">▼</div>
          <div class="process-item">
            <div class="process-box"></div>
            <div class="process-text">2. upload</div>
          </div>
          <div class="arrow-down">▼</div>
          <div class="process-item">
            <div class="process-box"></div>
            <div class="process-text">3. send data to server</div>
          </div>
          <div class="arrow-down">▼</div>
          <div class="process-item">
            <div class="process-box"></div>
            <div class="process-text">4. check result</div>
          </div>
        </div>
      </div>
    </section>
 
    <section id="fourth">
      <div class="bottom-banner">
        <div class="teamTitle">
          <div class="banner-content">
            <div class="card-icon"></div>
            <h3>가천대학교 P-Project</h3>
            <p>Team. undefined</p>
          </div>
          <img class="gachonImg" src="https://www.gachon.ac.kr/sites/kor/images/sub/slogan_2.png" alt="">
        </div>
        <div class="teamContainer">
          <div class="teammate">
            <div class="teamIcon"></div>
            <div class="teamInfo">
              <p>A.I.</p>
              <p>함 의 찬 <span>( 202136057 )</span></p>
            </div>
          </div>
          <hr>
          <div class="teammate">
            <div class="teamIcon"></div>
            <div class="teamInfo">
              <p>Frontend</p>
              <p>이 준 상 <span>( 202136017) </span></p>
            </div>
          </div>
          <div class="teammate">
            <div class="teamIcon"></div>
            <div class="teamInfo">
              <p>Frontend</p>
              <p>채 동 원 <span>( 202239901 )</span></p>
            </div>
          </div>
          <hr>
          <div class="teammate">
            <div class="teamIcon"></div>
            <div class="teamInfo">
              <p>Backend</p>
              <p>김 성 주 <span>( 202135930 ) *</span></p>
            </div>
          </div>
          <div class="teammate">
            <div class="teamIcon"></div>
            <div class="teamInfo">
              <p>Backend</p>
              <p>이 시 우 <span>( 202337657 )</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <footer>
      <div class="footer-inner">
        <div class="footer-left">
          <p>Logo</p>
          <span>Lorem Ipsum</span>
        </div>
        <div class="footer-links">
          <a href="#first">Home</a>
          <a href="#second">Service</a>
          <a href="#third">Tech</a>
          <a href="#fourth">Team</a>
        </div>
      </div>
    </footer>
  </body>
</html>
