.popup {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.popup .disable {
    opacity: 0;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup .contentContainer {
    background-color: var(--background100);
    width: 80vw;
    max-width: 40em;
    flex: 0;
    flex-basis: auto;
    border-radius: 0.5em;
    padding: 1.5em 2em;
    box-sizing: border-box;
    gap: 1em;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}

.popup .contentContainer .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .contentContainer .titleContainer svg {
    width: 0.8em;
    height: 0.8em;
    fill: var(--textPrimaryOnBackground);
    cursor: pointer;
    transition: fill 0.3s;
}

.popup .contentContainer .titleContainer svg:hover {
    fill: var(--primary300);
}


.popup.active .contentContainer {
    max-height: 500px;
}

.popup .contentContainer .content {
    padding: 1em 0;
    text-align: center;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.popup .contentContainer .content p  {
    transition: opacity 0.2s;
}

.popup hr {
    border: none;
    height: 2px;
    background-color: var(--alphaText);
}

.popup .popupBtnContainer {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.popup .contentContainer i {
    font-size: 6em;
    justify-self: center;
    margin: 0.2em 0;
    color: var(--textPrimaryOnBackground);
    opacity: 0.5;
}

.popup .contentContainer p.danger,
.popup .contentContainer i.danger {
    color: var(--danger100);
}

.popup .popupTargetContainer {
    padding: 0.3em 1em;
    background-color: var(--background200);
    border-radius: 0.4em;
    margin-top: 0.5em;
}

.popup .popupBtnContainer .Btn {
    width: 100%;
    padding: 0.4em 1.3em;
    border-radius: 0.5em;
    border: 2px solid var(--textPrimaryOnBackground);
    cursor: pointer;
    line-height: 1.5;
    font-weight: bold;
    color: var(--textPrimaryOnBackground);
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
}

.popup .popupBtnContainer .Btn:hover,
.popup .popupBtnContainer .Btn.ok:hover {
    background-color: var(--primary300);
    color: var(--textOnPrimary);
}

.popup .popupBtnContainer .Btn.ok {
    background-color: var(--textPrimaryOnBackground);
    color: var(--textOnPrimary);
}

.popup .popupBtnContainer .Btn.danger {
    background-color: var(--background100);
    border-color: var(--danger100);
    color: var(--danger100);
}

.popup .popupBtnContainer .Btn.danger:hover {
    color: var(--background100);
    background-color: var(--danger100);
}

.popup .loading section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: opacity 0.2s;
}

.popup .loading .loader {
    position: relative;
    width: 5em;
    height: 5em;
}

.popup .loading .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.popup .loading .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--textPrimaryOnBackground);
    box-shadow: 0 0 0.3em var(--textPrimaryOnBackground);
    animation: animate 1s linear infinite;
    animation-delay: calc(0.05s * var(--i));
}

@keyframes animate {
    0% {
        width: 0.6em;
        height: 0.6em;
        transform: scale(1);
    }
    80%, 100% {
        width: 0.6em;
        height: 0.6em;
        transform: scale(0);
    }
}