<link rel="stylesheet" href="/css/main/listview.css" />
<link rel="stylesheet" href="/css/main/history/history.css" />
<script src="/js/main/history/filterProject.js" defer></script>
<script src="/js/main/scroll.js" defer></script>
<script src="/js/main/sort.js" defer></script>
<div class="histories listParent">
    <div class="filterContainer">
        <h3>Filter</h3>
        <div class="filters">
            <div class="projectName">
                <p>Project</p>
                <div class="details">
                    <div class="filter" onclick="filtering(this, true)">All</div>
                    <div class="filter" onclick="filtering(this)">Test</div>
                </div>
            </div>
            <hr>
            <div class="pageName">
                <p>Page</p>
                <div class="details">
                    <div class="filter" onclick="filtering(this, true)">All</div>
                </div>
            </div>
            <hr>
            <div class="date">
                <p>Date</p>
                <div class="dateSelector">
                    <input type="date" name="startDate" id="startDate">
                    <span>~</span>
                    <input type="date" name="endDate" id="endDate">
                </div>
            </div>
        </div>
    </div>
    <div class="result listParent">
        <div class="categories linked">
            <p class="sortable">Date<span class="arrow">▼</span></p>
            <p class="sortable">Project name<span class="arrow">▼</span></p>
            <p class="sortable">Page name<span class="arrow">▼</span></p>
        </div>
        <div class="historyContainer listContainer">
            <div class="historyList list">
                <% history.forEach(hist => { %>
                    <%- include('historyContainer', {
                        date: hist.date,
                        project: hist.project,
                        page: hist.page,
                    }) %>
                <% }); %>
            </div>
            <div class="scrollBar" id="customScroll"></div>
        </div>
    </div>
</div>