.userContainer {
    box-sizing: border-box;
    padding: 2em 3em;
    width: 100%;
    height: 100%;
}

.linked p:nth-child(1) {
    width: 30%;
}

.linked p:nth-child(2) {
    width: 30%;
}

.linked p:nth-child(3) {
    width: 20%;
}

.linked p:nth-child(4) {
    width: 20%;
}


@media (max-width: 768px) {
    .userContainer {
        padding: 2em 0;
    }

    .categories, 
    .listContainer {
        min-width: 700px; 
        width: 100%;
    }
}
