<div class="popup" id="popup">
    <div class="contentContainer">
        <h3>Popup title</h3>
        <hr>
        <div class="content"></div>
        <hr>
        <div class="popupBtnContainer">
            <div class="cancel Btn" onclick="closePopup()">cancel</div>
            <div class="ok Btn" onclick="submitPopup()">ok</div>
        </div>
    </div>
</div>