.content {
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.content .title h2 {
    font-size: 2.2em;
    color: var(--text100);
}

.content .title p {
    font-size: 1.3em;
    color: var(--text200);
    font-weight: 500;
}