<link rel="stylesheet" href="/css/main/settings/project.css" />
<h3>Project</h3>
<h4>Manage your projects all at once</h4>
<hr>
<div class="btnGroup">
    <h2>Project visibility <p>Applies to all projects</p></h2>
    <div class="change pub btn">
        <div class="notice">
            <h3>Change to public</h3>
        </div>
        <a href="#">Change to public</a>
    </div>
    <div class="change pri btn">
        <div class="notice">
            <h3>Change to private</h3>
        </div>
        <a href="#">Change to private</a>
    </div>
</div>
<hr>
<div class="btnGroup">
    <h2>Please be certain</h2>
    <div class="deleteUser btn">
        <div class="notice">
            <h3>Delete pages</h3>
        </div>
        <a href="#">Delete all pages</a>
    </div>
    <div class="deleteUser btn">
        <div class="notice">
            <h3>Delete projects</h3>
        </div>
        <a href="#">Delete all projects</a>
    </div>
</div>