<link rel="stylesheet" href="/css/main/project/emptyProject.css" />
<div class="empty">
    <i class="fi fi-tr-document-circle-wrong"></i>
    <p><%= __('emptyMsg_0') %></p>
    <p><%= __('emptyMsg_1') %></p>
    <a href="/dashboard/project/add"><%= __('emptyButtonMsg') %></a>
</div>