.dashboardContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3em 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.chartContainer {
    position: relative;
    display: flex;
    gap: 4em;
}

.chart {
    flex: 1;
    padding: 1em 2em;
    box-sizing: border-box;
    border-radius: 0.5em;
    box-shadow: 0px 0px 13px -5px var(--shadow100);
}

.chart h3 {
    font-size: 1.3em;
}

.chart h4 {
    font-size: 1.1em;
    color: var(--alphaText);
}

.chart canvas {
    width: 100%;
    height: 200px;
    display: block;
}

.userContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.linked p:nth-child(1) {
    width: 20%;
}

.linked p:nth-child(2) {
    width: 40%;
}

.linked p:nth-child(3) {
    width: 30%;
}