.databaseContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3em 4em;
    display: flex;
    flex-direction: column;
}

.pins {
    display: flex;
    gap: 0.2em;
}

.pin {
    width: 5em;
    height: 2em;
    font-size: 1.2em;
    border: 2px solid var(--background200);
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--background200); */
}

.pin.active {
    border-color: var(--textPrimaryOnBackground);
    color: var(--textOnPrimary);
    background-color: var(--textPrimaryOnBackground);
}

.pin:hover,
.pin.active:hover {
    border-color: var(--textPrimaryOnBackground);
    color: var(--textOnPrimary);
    background-color: var(--primary300);
}

.databaseContainer .tableContent {
    width: 100%;
    height: 100%;
    border-radius: 0 0.5em 0.5em 0.5em;
    border: 2px solid var(--textPrimaryOnBackground);
    box-sizing: border-box;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.tableContent h3 {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.tableContent .disable {
    display: none;
}

.tableContent .selectBtn {
    border-radius: 0.3em;
    font-size: 0.8em;
    color: var(--textOnPrimary);
    font-weight: 500;
    box-sizing: border-box;
    padding: 0.5em 1em;
    background-color: var(--textPrimaryOnBackground);
    cursor: pointer;
    transition: background-color 0.3s;
}

.tableContent .selectBtn:hover {
    background-color: var(--primary300);
}

.linked > * {
    width: calc(100% / var(--col-num));
}

.linked > *:last-child {
    width: 10%;
}

.list .linked > *:last-child {
    text-align: center;
    color: var(--danger100);
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.list .linked > *:last-child:hover {
    background-color: var(--danger100);
    color: var(--background100);
}