.cardContainer {
    display: flex;
    margin: 20px 30px 0 30px;
    height: 175px;
    gap: 100px;
}

.cardContainer .projectCard {
    display: flex;
    flex: 1;
    border-radius: 15px;
    padding: 15px 20px 20px 20px;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
}

.cardContainer .projectCard:hover {
    transform: translateY(10px);
}

.cardContainer .projectCard:nth-child(1) {
    color: var(--accent200);
    background-color: var(--primary100);
}

.cardContainer .projectCard:nth-child(2) {
    background-color: var(--primary200);
}

.cardContainer .projectCard:nth-child(3) {
    background-color: var(--text200);
}

.cardContainer .projectCard .cardInfo {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardContainer .projectCard .cardInfo .viewProjectBtn {
    text-decoration: none;
    color: var(--accent200);
    font-size: 1em;
}

.cardContainer .projectCard .cardInfo .viewProjectBtn svg {
    width: 1rem;
    height: 1rem;
    fill: var(--accent200);
        transform: translateY(0.25em);
}

.cardContainer .projectCard .cardInfo div p:nth-child(1) {
    transform: translateY(5px);
    font-size: 1.8em;
}

.cardContainer .projectCard .cardInfo div p:nth-child(2) {
    font-size: 1.1em;
}

.cardContainer .projectCard .cardInfo div p:nth-child(3) {
    font-size: 1.1em;
}

.cardContainer .projectCard .subMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;
}

/* .cardContainer .projectCard .subMenu a{
    width: 25px;
    height: 25px;
    align-self: end;
    transform: translate(-6px, -2px);
}

.cardContainer .projectCard .subMenu a svg {
    fill: var(--accent200);
} */

.cardContainer .projectCard .subMenu .cardThumb {
    height: 100%;
    width: 100%;
    align-self: end;
}

.cardContainer .projectCard:nth-child(1) .subMenu .cardThumb {
    box-shadow: 0 0 8px 8px var(--primary100) inset;
}

.cardContainer .projectCard:nth-child(2) .subMenu .cardThumb {
    box-shadow: 0 0 8px 8px var(--primary200) inset;
}

.cardContainer .projectCard:nth-child(3) .subMenu .cardThumb {
    box-shadow: 0 0 8px 8px var(--text200) inset;
}

.projectInfo {
    display: flex;
    margin-top: 30px;
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
}

.projectInfo .lastestProject {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px 0 40px;
    gap: 10px;
}

.projectInfo .lastestProject .prevImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.projectInfo .lastestProject .prevImage #projectImage {
    flex: 1;
    height: 100%;
    background-color: var(--accent200);
}

.projectInfo .lastestProject .prevImage .arrow {
    width: 32px;
    height: 32px;
}

.projectInfo .lastestProject .arrow:nth-child(1) {
    transform: rotateZ(90deg);
    fill: var(--primary200);
}

.projectInfo .lastestProject .arrow:nth-child(3) {
    transform: rotateZ(270deg);
    fill: var(--primary100);
}

.projectInfo .lastestProject .imageCount {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projectInfo .lastestProject .imageCount .dot {
    width: 16px;
    height: 16px;
    background-color: var(--primary200);
    border-radius: 50%;
}

.projectInfo .history {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.projectInfo .history .historyList {
    flex: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectInfo .history .historyList .historyCard {
    height: 80px;
    width: 100%;
    background-color: var(--background200);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
    box-shadow: inset -9px 4px 20px -14px var(--shadow100);
}

.projectInfo .history .historyList .historyCard p:nth-child(3) {
    color: var(--text100);
    font-size: 1.5em;
    font-weight: 500;
}

.projectInfo .history .historyList .historyCard::after {
    content: "";
    position: absolute;
    left: 0;
    width: 2em;
    height: 100%;
    background-color: var(--primary200);
    border-radius: 10px;
}

.projectInfo .history .historyList .historyCard p:nth-child(4) {
    color: var(--text100);
    opacity: 0.4;
    font-size: 1.1em;
    font-weight: 500;
}

.projectInfo .history .seeMore {
    height: 48px;
    text-decoration: none;
    text-align: center;
    background-color: var(--accent100);
    color: var(--accent200);
    border-radius: 10px;
    font-size: 1.3em;
    line-height: 45px;
}