.empty {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty svg {
    width: 128px;
    height: 128px;
    margin-bottom: 20px;
    fill: var(--primary100);
}

.empty p {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.empty a {
    text-decoration: none;
    color: var(--accent200);
    background-color: var(--accent100);
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.empty a:hover {
    transform: scale(1.1);
}