.listProject {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 20px 50px;
    box-sizing: border-box;
}

.listProject .projectMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.listProject .projectMenu a {
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--accent100);
    color: var(--accent200);
    padding: 10px 20px;
    font-size: 0.9em;
    transition: 0.3s;
}

.listProject .projectMenu a:hover {
    background-color: var(--primary200);
    transform: scale(1.05);
}

.listProject .projectMenu a p {
    margin-left: 20px;
    display: inline-block;
    font-weight: bold;
}

.listProject .projects {
    table-layout : fixed;
    /* flex: 1; */
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.listProject .projects thead {
    background-color: var(--background200);
    height: 40px;
    font-size: 1.1em;
}

.listProject .projects thead th {
    border-right: 2px dashed var(--text300);
}

.listProject .projects thead th:first-child {
    border-radius: 10px 0 0 0;
}

.listProject .projects thead th:last-child {
    border-right: none;
    border-radius: 0 10px 0 0;
}

.listProject .projects tbody td {
    height: 70px;
    z-index: 3;
    font-size: 1.3em;
    transition: 0.3s;
    position: relative;
}

.listProject .projects tbody tr:nth-child(even) {
    background-color: var(--background200);
}


.listProject .projects td,
.listProject .projects th {
    padding: 0 10px;
    box-sizing: border-box;
}

.listProject .projects tbody tr {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.listProject .projects tbody tr::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
    background : linear-gradient(90deg,var(--gradient200) 0%, var(--background100) 100%);
}

.listProject .projects tbody tr:hover::after {
    width: 100%;
    opacity: 1;
}

.listProject .projects tbody td .pdfDownload {
    background-color: var(--accent200);
    color: var(--accent100);
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: inset 1px 4px 20px -14px var(--shadow100);
    gap: 0.8em;
    transition: 0.3s;
}

.listProject .projects tbody tr:hover .pdfDownload:hover {
    background-color: var(--accent200);
    color: var(--accent100);
}

.listProject .projects tbody tr:hover .pdfDownload:hover svg {
    fill: var(--accent100);
}

.listProject .projects tbody td .pdfDownload svg {
    width: 1em;
    height: 1em;
    fill: var(--accent100);
    transition: 0.3s;
}

.listProject .projects tbody tr:hover .pdfDownload svg {
    fill: var(--accent200);
}

.listProject .projects tbody tr:hover .pdfDownload {
    background-color: var(--accent100);
    color: var(--accent200);
}

.listProject .projects tbody td span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    display: block;
    font-size: 0.7em;
    color: var(--text300);
}

.listProject .projects tbody tr:hover td p {
    color: var(--accent200);
}

.listProject .projects tbody tr:hover td span {
    color: var(--accent200);
    opacity: 0.6;
}

.listProject .projects tbody tr:hover td:nth-child(2), 
.listProject .projects tbody tr:hover td:nth-child(3) {
    color: var(--accent200);
}

.listProject .projects thead th:nth-child(1) {
    width: 10%;
}

.listProject .projects thead th:nth-child(2) {
    width: 30%;
}

.listProject .projects thead th:nth-child(3) {
    width: 10%;
}
 
.listProject .projects thead th:nth-child(4),
.listProject .projects tbody tr td:nth-child(4) {
    width: 5%;
    text-align: center;
}

.listProject .projects thead th:nth-child(5) {
    width: 15%;
}

.listProject .projects thead th:nth-child(6) {
    width: 30%;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons .viewMore {
    width: 40%;
    height: 40px;
    color: var(--accent200);
    background-color: var(--accent100);
    border-radius: 40px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 4px 7px -3px var(--accent100);
    transition: 0.3s;
}

.buttons .option {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent200);
    border-radius: 40px;
    box-shadow: inset 1px 4px 20px -14px var(--shadow100);
    transition: 0.3s;
}

.buttons .option:hover {
    background-color: var(--accent100);
}

.buttons .option svg {
    fill: var(--accent100);
    transition: 0.3s;
    width: 1em;
    height: 1em;
}

.buttons .option:hover svg {
    fill: var(--accent200);
}

.buttons .viewMore:hover {
    background-color: var(--primary200);
}