.databaseContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3em 4em;
    display: flex;
    flex-direction: column;
}

.databaseContainer > .verticalScrollableList {
    height: 2.5em;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.pins {
    display: flex;
    gap: 0.2em;
    position: absolute;
    height: 100%;
}

.pin {
    min-width: 5em;
    font-size: 1.2em;
    border: 2px solid var(--background200);
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.6em;
    /* background-color: var(--background200); */
    box-sizing: border-box;
}

.pin.active {
    border-color: var(--textPrimaryOnBackground);
    color: var(--textOnPrimary);
    background-color: var(--textPrimaryOnBackground);
}

.pin:hover,
.pin.active:hover {
    border-color: var(--textPrimaryOnBackground);
    color: var(--textOnPrimary);
    background-color: var(--primary300);
}

.databaseContainer .tableContent {
    width: 100%;
    height: 100%;
    border-radius: 0 0.5em 0.5em 0.5em;
    border: 2px solid var(--textPrimaryOnBackground);
    box-sizing: border-box;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.tableContent .tableDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.tableContent h3 {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.tableContent .disable {
    display: none;
}

.tableContent .selectBtn {
    border-radius: 0.3em;
    font-size: 0.8em;
    color: var(--textOnPrimary);
    font-weight: 500;
    box-sizing: border-box;
    padding: 0.5em 1em;
    background-color: var(--textPrimaryOnBackground);
    cursor: pointer;
    transition: background-color 0.3s;
}

.tableContent .selectBtn:hover {
    background-color: var(--primary300);
}

.linked > * {
    width: calc(100% / var(--col-num));
}

.linked > *:last-child {
    width: 5em;
    min-width: 5em;
}

.list .linked > *:last-child {
    line-height: 1.6;
    text-align: center;
    color: var(--danger100);
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border-radius: 0.5em;
}

.list .linked > *:last-child:hover {
    background-color: var(--danger100);
    color: var(--background100);
}

.list .linked p > .user {
    background-color: transparent;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 90%;
    height: 100%;
    line-height: 1.6;
    margin: 0 5%;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.list .linked p > .user:hover,
.list .linked p > .user.admin:hover {
    background-color: var(--primary300);
    color: var(--textOnPrimary);
}

.list .linked p > .user.admin {
    background-color: var(--textPrimaryOnBackground);
    color: var(--textOnPrimary);
}

.list .linked > .user.admin {

}

@media (max-width: 1000px) {
    .databaseContainer {
        padding: 3em 0;
    }
}

@media (max-width: 768px) {
    .databaseContainer {
        padding: 3em 0;
    }

    .categories, 
    .listContainer {
        min-width: 700px; 
        width: 100%;
    }
}
